body {
	font-family: Arial;
}

#encabezado {
	text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
}

#encabezado h1 {
        display: inline-block;
        width: 100%;
}

#encabezado cabezal {
	text-decoration: none;
        display: inline-block;
        width: 25%;
}

#img_user{
        display: inline;
	text-align: right;
        height: 50px;
        width: 50px;
}

#img_logo {
        display: inline-block;
        width: 15%;
	height: 15%;
}

#menu_usuario {
        display: inline;
        text-align: right;
        width: 25%;
}

#menu_usuario a{    
        text-decoration: none;
        color:black;
}

#img_user{
        display: inline;
	text-align: right;
        height: 50px;
        width: 50px;
}

#juegos {
        text-align: center;
        display: inline-block;
        width: 75%;
}

#destacado {
        display: inline-block;
        width: 20%;
}

#logearse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;       
}

#registrarse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;       
}

#container-principal {
    display: block;
    align-content: center;
}
.ui-form {
    display: block;
}

.form-control-border{
    position: relative;
    background-color: rgba(0,0,0,.25);
    height: 0.1px;
    height: 100%;
}
